{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <h1 style="text-align: center;">Text2Timeline Dashboard</h1>
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <p>{{ form.text_area.label }}<br>{{ form.text_area(style="width:100%;") }}</p>
      <p>{{ form.file_upload.label }}<br>{{ form.file_upload() }}</p>


      <input type="radio" name="select_type" id="single_select" value="generate" checked>
      <label for="single_select">Generate Timeline</label>
      <input type="radio" name="select_type" id="multi_select" value="compare">
      <label for="multi_select">Compare Parsers</label>


      <div>
        {{ form.parser_selection.label}}<br>

        <select id="parser_selection" name="parser_selection" style="width:100%;">
          {% for value, label in form.parser_selection.choices %}
          <option value="{{ value }}">{{ label }}</option>
          {% endfor %}
        </select>

      </div>

      <br>
      <p>{{ form.submit(class="btn btn-primary btn-block", style="width:100%;") }}</p>

  </div>

  <br>
  <hr>

  <div class="row" style="text-align: center;">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div>
        <h2><strong>Parser</strong> plugins</h2>
        {% for plugin_name in plugin_info.parsers %}
        <p style="color:cyan">{{ plugin_name[0] }}</p>
        <span><i>{{ plugin_name[1] }}</i></span>
        <br>
        {% endfor %}
      </div>
      <br>
      <div>
        <h2><strong>Pre Processor</strong> plugins</h2>
        {% for plugin_name in plugin_info.pre_processors %}
        <div>
          <span style="color:cyan">{{ plugin_name[0] }}</span>
          <p><i>{{ plugin_name[1] }}</i></p>
          <input type="checkbox" id="disabled_{{ plugin_name[0] }}" name="disabled_plugins"
            value="{{ plugin_name[0] }}">
          <label for="disabled_{{ plugin_name[0] }}">Disable {{plugin_name[0]}}</label>
          <br>
        </div>
        {% endfor %}
      </div>
      <br>
      <div>
        <h2><strong>Post Processor</strong> plugins</h2>
        {% for plugin_name in plugin_info.post_processors %}

        <div>
          <span style="color:cyan">{{ plugin_name[0] }}</span>
          <p><i>{{ plugin_name[1] }}</i></p>
          <input type="checkbox" id="disabled_{{ plugin_name[0] }}" name="disabled_plugins"
            value="{{ plugin_name[0] }}">
          <label for="disabled_{{ plugin_name[0] }}">Disable {{plugin_name[0]}}</label>
        </div>
        <br>
        {% endfor %}
      </div>
      <br>
      <div>
        <h2><strong>Gallery Extra</strong> plugins</h2>
        {% for plugin_name in plugin_info.gallery_extras %}
        <div>
          <span style="color:cyan">{{ plugin_name[0] }}</span>
          <p><i>{{ plugin_name[1] }}</i></p>
          <input type="checkbox" id="disabled_{{ plugin_name[0] }}" name="disabled_plugins"
            value="{{ plugin_name[0] }}">
          <label for="disabled_{{ plugin_name[0] }}">Disable {{plugin_name[0]}}</label>
        </div>
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
  </form>

</div>

<script>
  const singleSelectRadio = document.getElementById("single_select");
  const multiSelectRadio = document.getElementById("multi_select");
  const parserSelect = document.getElementById("parser_selection");

  singleSelectRadio.addEventListener("change", function () {
    parserSelect.multiple = false;
  });

  multiSelectRadio.addEventListener("change", function () {
    parserSelect.multiple = true;
  });
</script>


{% endblock %}